In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

In [2]:
db_config = {
    'host':'localhost',
    'user':'root',
    'password':'Shirasala10??'    
    
    
}

In [5]:
conn = mysql.connector.connect(**db_config)

In [6]:
# Function to execute MySQL queries
def execute_query(query):
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
    cursor.close()

In [11]:
# Create database if not exists
create_db_query = "CREATE DATABASE IF NOT EXISTS edu_institute;"
execute_query(create_db_query)

In [12]:
# use the db
use_db_query = "USE edu_institute;"
execute_query(use_db_query)

In [14]:

import pandas as pd

# Connect to the database
connection = mysql.connector.connect(
    host="localhost",  # Replace with your database host
    user="root",        # Replace with your database username
    password="Shirasala10??",    # Replace with your database password
    database="edu_institute"     # Replace with your database name
)

# Check if the connection is successful
if connection.is_connected():
    print("Connected to the database")

Connected to the database

In [15]:
# Execute a query to select all columns for all students in the "Data Science" program
query = "SELECT * FROM students WHERE program = 'Data Science'"
df = pd.read_sql(query, connection)
print(df)

   student_id           name  age gender enrollment_date       program
0           2  Sharon Cherop   26      F      2022-03-04  Data Science
1           3  Benedict Njue   24      M      2022-03-04  Data Science

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17196\1356908409.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [16]:
# Execute a query to find the total number of students and display it as TotalStudents
query = "SELECT COUNT(*) AS TotalStudents FROM students"
total_students = pd.read_sql(query, connection)
print(total_students)

   TotalStudents
0              5

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17196\219960947.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  total_students = pd.read_sql(query, connection)

In [18]:
# Execute a query to display today's date in a column named Today's Date
query = "SELECT CURRENT_DATE() AS `Today''s Date`"
today_date = pd.read_sql(query, connection)
print(today_date)

  Today''s Date
0    2024-03-11

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17196\2882975174.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  today_date = pd.read_sql(query, connection)

In [19]:
# Execute a query to select the student names and their enrollment dates, but display the name column in uppercase
query = "SELECT UPPER(name) AS name, enrollment_date FROM students"
upper_names = pd.read_sql(query, connection)
print(upper_names)

               name enrollment_date
0     LINDA SUMBATI      2022-03-04
1     SHARON CHEROP      2022-03-04
2     BENEDICT NJUE      2022-03-04
3  DABRAHAM IMMORAH      2022-03-04
4       DAN NJUGUNA      2022-03-04

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17196\956270742.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  upper_names = pd.read_sql(query, connection)

In [20]:
# Execute a query to count the number of students in each program and display the results in descending order of count. Name the count column as Numberof Students
query = "SELECT program, COUNT(*) AS 'Number of Students' FROM students GROUP BY program ORDER BY COUNT(*) DESC"
program_counts = pd.read_sql(query, connection)
print(program_counts)

                 program  Number of Students
0           Data Science                   2
1       Computer Science                   1
2  Software\nEngineering                   1
3         Cloud Security                   1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17196\339975614.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  program_counts = pd.read_sql(query, connection)

In [21]:
# Execute a query to find the youngest student's name and age
query = "SELECT name, age FROM students ORDER BY age ASC LIMIT 1"
youngest_student = pd.read_sql(query, connection)
print(youngest_student)

          name  age
0  Dan Njuguna   22

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17196\3251023974.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  youngest_student = pd.read_sql(query, connection)